body {
    font-family: 'Iceland';
    font-size: 25px;
    margin: 0;
    padding: 0;
    color: #1F3044;
    background-color: rgb(250, 235, 228);
}

header {
    color: #fff;
    text-align: center;
}

#about_me {
    text-align: center;
}

h1, h2, h3 {
    color: #007BFF;
}

#mobile_about_me {
    display: none;
}

.section_heading {
    text-align: center;
}

#top_projects {
    display: flex;
}

.top_project {
    flex: 1;
    padding: 20px;
    margin: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    transition: all .5s ease-in-out;
    background-color: #7d8dac69;
    border-radius: 16px 0px 100px 0px;
    animation: jiggle 1s infinite;
}

.proj_description {
    text-align: right;
    text-shadow: 2px 0px #007BFF;
}

@keyframes jiggle {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(0.2deg); }
    20% { transform: rotate(-0.2deg); }
    30% { transform: rotate(0.2deg); }
    40% { transform: rotate(-0.2deg); }
    50% { transform: rotate(0.2deg); }
    60% { transform: rotate(-0.2deg); }
    70% { transform: rotate(0.2deg); }
    80% { transform: rotate(-0.2deg); }
    90% { transform: rotate(0.2deg); }
    100% { transform: rotate(-0.2deg); }
}

.img_container {
    border: 1px solid black;
    border-radius: 80px 0px 80px 0px;
}

.top_project:hover {
    animation: none;
}

.responsive_img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 80px 0px 80px 0px;
}

.top_project:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#credits {
    border-radius: 8px;
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    transition: all .5s ease-in-out;
}

.fa:hover {
    transform: scale(2);
}

.fa{
    color: #007BFF;
}
    
footer {
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(#ffffff00, #7d8dac69);
    color: #007BFF;
    border-radius: 6px 6px 0px 0px;
}

/* Mobile configuration */

@media (max-width: 767px) {

    #top_projects,
    #mid_projects {
        display: flex;
        flex-direction: column;
    }

    #about_me {
        display: none;
    }

    #mobile_about_me {
        display: block;
    }
}

#about_me {
  overflow: hidden;
  border-right: .15em solid orange;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto; 
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}
